img {
    width: 70%;
    display: block;
    margin: 20px auto;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


form {
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


textarea {
    resize: vertical;
}


input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}